In [1]:
import numpy as np
import pandas as pd
from indictrans import Transliterator

In [2]:
# load original data
data = pd.read_table("../datasets/task_a/kan_sentiment_dev.tsv")

In [3]:
data

                                                  text        category
0    Binduge saryagi ugithidira good go ahead  we a...  Mixed feelings
1                               yen song guru ...super        Positive
2                                     my fevorat story     not-Kannada
3                                    Super ತೋಗರಿ ತೀಪ್ಪ        Positive
4    ನಿಮ್ಮ ಮಾತುಗಳು ಅಕ್ಷರಶಃ ಸತ್ಯ... ನಿಮ್ಮ ಈ ಸಾಮಾನ್ಯ ...        Positive
..                                                 ...             ...
686  @Nandi Parthasarathi ನಿಮ್ಮ ಅಪ್ಪ ದೊಡ್ ಗಾಂಡು ಸೂಳೆಮಗ        Negative
687                               Hugi guru badethawke        Negative
688                                  Trending no.1 wow        Positive
689  @Troll Stupid Fans naanu adikke kano helthirod...        Positive
690  @JustAn Opinion ninu Tika mucchu...Evattu Kann...        Positive

[691 rows x 2 columns]

In [4]:
# instantiate the trasnliteration
trn = Transliterator(source='eng', target='kan', build_lookup=True)

In [5]:
# test on a sample text
# original
data.iloc[3]['text']

'Super ತೋಗರಿ ತೀಪ್ಪ'

In [6]:
# transliterated
trn.transform(data.iloc[3]['text'])

'ಸುಪರ್ ತೋಗರಿ ತೀಪ್ಪ'

In [7]:
# save the text column as a list in order to improve performance.
list_orig = (data['text'].to_numpy()).tolist()

In [8]:
# create and empty list, iterate through the list of text and append the transliterated text to our list.
list_trans = []
for i in range(len(list_orig)):
    list_trans.append(trn.transform(list_orig[i]))

In [9]:
# append the transliterated texts as a column on original dataframe
data['text_trans'] = list_trans

In [10]:
data

,text,category,text_trans
0,Binduge saryagi ugithidira good go ahead we a...,Mixed feelings,ಬಿಂದೂಗೇ ಸರ್ಯಗೀ ಉಗೀಥೀದೀರಾ ಗುಡ್ ಗೋ ಅಹೆಡ್ ವೇ ಅರೇ...
1,yen song guru ...super,Positive,ಯೇನ ಸೋಂಗ್ ಗುರು ...ಸುಪರ್
2,my fevorat story,not-Kannada,ಮೀ ಫೆವರತ ಸ್ಟೋರಿ
3,Super ತೋಗರಿ ತೀಪ್ಪ,Positive,ಸುಪರ್ ತೋಗರಿ ತೀಪ್ಪ
4,ನಿಮ್ಮ ಮಾತುಗಳು ಅಕ್ಷರಶಃ ಸತ್ಯ... ನಿಮ್ಮ ಈ ಸಾಮಾನ್ಯ ...,Positive,ನಿಮ್ಮ ಮಾತುಗಳು ಅಕ್ಷರಶಃ ಸತ್ಯ... ನಿಮ್ಮ ಈ ಸಾಮಾನ್ಯ ...
...,...,...,...
686,@Nandi Parthasarathi ನಿಮ್ಮ ಅಪ್ಪ ದೊಡ್ ಗಾಂಡು ಸೂಳೆಮಗ,Negative,@ನಂದೀ ಪಾರ್ಥಾಸರಥೀ ನಿಮ್ಮ ಅಪ್ಪ ದೊಡ್ ಗಾಂಡು ಸೂಳೆಮಗ
687,Hugi guru badethawke,Negative,ಹುಗೀ ಗುರು ಬದೇತಾಕೆ
688,Trending no.1 wow,Positive,ಟ್ರೆಂಡಿಂಗ್ ನೋ.1 ವೋ
689,@Troll Stupid Fans naanu adikke kano helthirod...,Positive,@ಟ್ರೋಲ್ ಸ್ತುಪಿಡ್ ಫಂಸ ನಾನು ಆದಿಕಏ ಕಾನೋ ಹೇಲ್ಥೀರೋದ...
690,@JustAn Opinion ninu Tika mucchu...Evattu Kann...,Positive,@ಜುಸ್ತಾನ್ ಓಪಿನಿಯೋನ್ ನೀನು ಟಿಕಾ ಮುಕ್ಚು...ಇವತ್ತು ...

In [32]:
data.to_csv('kan_dev_trans.tsv', sep="\t", index = False)