In [1]:
import pandas as pd
import numpy as np

In [27]:
tam_results = pd.read_table("final_tam_results.tsv")

In [28]:
tam_results = tam_results[['id', 'original_majority_label_bert']]

In [29]:
tam_results

          id original_majority_label_bert
0     TAM_01                     Positive
1     TAM_02                     Positive
2     TAM_03                     Positive
3     TAM_04                     Positive
4     TAM_05                     Negative
..       ...                          ...
644  TAM_645                     Positive
645  TAM_646                     Positive
646  TAM_647                     Positive
647  TAM_648                     Negative
648  TAM_649                     Positive

[649 rows x 2 columns]

In [30]:
tam_results.rename(columns = {'original_majority_label_bert': 'category'}, inplace = True)

In [31]:
tam_results['category'].value_counts()

Positive    540
Negative    109
Name: category, dtype: int64

In [32]:
tam_results.to_csv('adriangarcia_tamil.tsv', sep="\t", index = False)